.loading{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.loadingText{
    color: black;
    font-weight: 600;
    font-size: medium;
    padding: 0.5rem;
}

.error{
    display: flex;
    gap: 1.5rem;

    .errorTitle{
        color: rgb(190, 8, 8);
    }

    .errorButton{
        padding: 0.5rem 1rem;
        background-color: darkred;
        border: 1px solid white ;
    }
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    background-color: #f5f5f5;
}

.breadcrumb{
    padding: 0.7rem;
}

.breadcrumbContent{
    display: flex;
    gap: 0.4rem;

    .breadcrumbButton{
        text-decoration: none;
        color:rgba(75, 75, 75, 0.596);

        &:hover{
            text-decoration: underline;
        }
    }

    .breadcrumbSpan{
        color:rgba(75, 75, 75, 0.596);
    }

    .breadcrumbModel{
        font-weight: 500;
    }
}

.productArticle{
    display: flex;
    gap: 6rem;
    width: 100%;
    padding-bottom: 7rem;
}