.productGallery{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.mainImage{
    aspect-ratio: 1 / 1;
    background: #f8f8f8;
    border-radius: 16px;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.mainImage img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.thumbnailGallery{
    display: flex;
    gap: 1rem;

    button{
        width: 130px;
        aspect-ratio: 1 / 1;
        border-radius: 12px;
        border: 2px solid transparent;
        background: #f5f5f5;
        padding: 6px;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    button.active{
        border-color: #7c3aed;
    }
}

.productFeatures{
    display: flex;
    gap: 3rem;
    justify-content: center;
    
    li{
        display: flex;
        flex-direction: column;
        padding: 10px 25px;
        background: #7c3aed6e;
        border-radius: 12px;
        max-width: 150px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}